@font-face {
  font-family: 'gPro';
  src: url('../fonts/gProRegular.woff2') format('woff2'), url('../fonts/gProRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'gProItalic';
  src: url('../fonts/gProItalic.woff2') format('woff2'), url('../fonts/gProItalic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'proxima_novathin';
  src: url('../fonts/proximanovat-thin-webfont.woff2') format('woff2'), url('../fonts/proximanovat-thin-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'proxima_novaregular';
  src: url('../fonts/proximanova-regular-webfont.woff2') format('woff2'), url('../fonts/proximanova-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
header {
  background-color: #fafafa;
  height: 50px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
header .title {
  width: 33.33%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
header .title .titleContent {
  font-family: 'gPro';
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
  font-size: 40px;
  letter-spacing: 5px;
  line-height: 1.4;
}
header nav {
  width: 33.33%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-content: center;
}
header nav .navLink {
  height: 100%;
  font-family: 'gPro';
  font-size: 20px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
  letter-spacing: 1.5px;
  line-height: 1.4;
  margin: auto 10px;
}
header .leftSide {
  width: 33.33%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
.font-blue {
  color: #115793;
  font-weight: 400;
}
.h1Classer {
  background-color: inherit;
  border: none;
  border-bottom: 0.5px solid black;
}
input:focus {
  outline: none;
}
body {
  background-color: #fafafa;
}
